<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="css/bootstrap.min.css" rel="stylesheet" >
  <link href="css/bootstrap.min.css.map" rel="stylesheet" >
  <link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <title>3Cycle Contable--Empresas</title>
</head>

<body>
<header>

  <!-- BARRA DE ARRIBA CON LOGO DEL SISTEMA CONTABLE-->
  <nav class="navbar bg-light">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
        <img src="images/scountable.png" alt="3CycleLogo" style="width:100px;" class="rounded-pill">
      </a>
      <hi class="display-5 fw-bold">Sistema Contable 3CT</hi>
    </div>
  </nav>

  <!-- BARRA AZUL-->
  <div>
    <div class="container-fluid bg-primary pt-2 " >
      <ul class="nav nav justify-content-end mt=3">
        <li class="nav-item">
          <a class="nav-link text-light" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" href="#"></a>
        </li>
      </ul>

    </div>

  </div>

</header>

<div class="container-fluid mt-3 " >
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"><!--Abre Barra Lateral-->
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span>
            </a>
            <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">Empresas</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="/mostrarempresas" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> Listar Empresas</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-cash"></i> <span class="ms-1 d-none d-sm-inline">Movimientos de Dinero</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li>

        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
             id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                 class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div><!-- Cierre Barra Lateral-->

    <!-- FORMULARIO-->
    <!--Crear formulario para crear los datos de la empresa  -->
    <div class="col py-3 mx-5">
      <h6>Agregar Empresa</h6>
    <form >
      <!--Campo para nombre-->
      <div class="mb-3">
        <label for="inputName" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="iName">
        </div>

      <!--Campo para dirección-->
      <div class="mb-3">
        <label for="inputDireccion" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="inputDireccion" aria-describedby="iDireccion">
      </div>

      <!--Campo para teléfono-->
      <div class=" mb-3">
        <label for="inputTelefono" class="form-label">Teléfono:</label>
        <input type="text" class="form-control" id="inputTelefono" aria-describedby="inputTelefono">
      </div>

      <!--Campo para Nit-->
      <div class="mb-3">
        <label for="inputNit" class="form-label">Nit:</label>
        <input type="text" class="form-control" id="inputNit" aria-describedby="iNit">
      </div>

      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
    </div>
  </div>

  <!-- BARRA FINAL->
  ms-auto Alinea a la derecha el logo-->
  <footer>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand ms-auto" href="#">
          <img src="images/logo.png" alt="3CycleLogo" style="width:180px;" class="rounded-pill">
        </a>
      </div>
    </nav>
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>