<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/header:: header" > </head>

<body>

<div class="container-fluid " >
    <div class="row ">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light "><!--Abre Barra Lateral-->
                <nav th:replace="layout/menu :: menu"></nav>

                <div class="col py-3 mx-5 ">
                    <main layout:fragment= "contenido" role="main" class="container">
                        <!-- TABLA-->


                        <div class="col py-3 mx-5 "><!--Abre Contenido-->
                            <h3 class="text text-center mb-4">Lista de empresas</h3>
                            <table class="table container table-hover table-striped text-center">
                                <thead>

                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Nit</th>
                                <th>Ver Movimientos</th>
                                <th> Editar</th>
                                <th> Eliminar</th>
                                </thead>
                                <tbody>
                                </tr>
                                <tr th:each="empresas:${listaempresas}">
                                    <td th:text="${empresas.id}"></td>
                                    <td th:text="${empresas.nombre}"></td>
                                    <td th:text="${empresas.direccion}"></td>
                                    <td th:text="${empresas.telefono}"></td>
                                    <td th:text="${empresas.nit}"></td>
                                    <td>  <button type="button" class="btn btn-primary "><a class="text-white text-decoration-none" th:href="@{/movimientos/empresa/{id}(id=${empresas.id})}"><i class="bi bi-receipt"></i></a></button></td>




                                    <td>  <button type="button" class="btn btn-primary "><a class="text-white text-decoration-none" th:href="@{/editarEmpresa/{id}(id=${empresas.id})}"><i class="bi bi-pencil-square"></i></a></button></td>
                                    <!-- <td>  <button type="button" class="btn btn-primary "><a class="text-white text-decoration-none" th:href="@{/eliminarEmpresa/{id}(id=${empresas.id})}"><i class="fa fa-trash"></i></a></button></td> -->
                                    <td>

                                        <!-- Button to Open the Modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="|#myModal${empresas.id}|"><i class="bi bi-trash"></i></button>
                                        <!-- The Modal -->
                                        <div class="modal" th:id="|myModal${empresas.id}|">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Eliminar Empresa</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        Estas Seguro
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary "><a class="text-white text-decoration-none" th:href="@{/eliminarEmpresa/{id}(id=${empresas.id})}">Eliminar</a></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <!-- Inicio modal  -->

                                </tr>

                                </tbody>
                            </table>

                        </div>




                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>



</html>